.wrapper{
    display: grid;
    place-items: center;
}

#game{
    display: grid;
    grid-template-areas:
        'instruction gameboard gameboard gameboard toolbar';
}

#instruction{
    grid-area: instruction;
}

#gameboard{
    grid-area: gameboard;
}

#toolbar{
    grid-area: toolbar;
}

@media only screen and (max-width: 1040px){
    #game{
        grid-template-areas: 
            'instruction'
            'toolbar'
            'gameboard';
        place-items: center;
    }
}
